@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100vh;
  width: 100%;
  /* background: #181818; */
  background: #f3f1ef;

  background: #f2f0ed;
}

.custom-btn input {
  color: white;
  background-color: rgb(158, 148, 134);
  border: 2px solid white !important;
  min-width: 75px;
  padding: 8px 12px;
  border-radius: 10px;
  transition: 0.3s;
  text-align: center;
  font-family: "Rubik", sans-serif;
  cursor: pointer;
  font-size: 14px;
}

.custom-btn input:hover {
  color: rgb(138, 128, 114);
  background-color: white;
}
